@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Poppins:wght@300;400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

$color_bg: #403D39;
$color_font: #FFFCF2;
$color_dynamic: #EB5E28;
$color-card: #252422;
$color_searchbar: #CCC5B9;

$font_h1: 'Dancing Script', cursive;
$font_titles: 'Poppins', sans-serif;
$font_text: 'Source Sans Pro', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_bg;
    font-family: $font_titles;
    color: $color_font;
}